header{
    padding: 20px 8rem;
}

.section-title{
    padding-top: 8rem;
}

.cards{
    width: calc(100% - 16rem);
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 4rem auto;
}

.footer-items{
    padding: 3rem 8rem;
}