header{
    padding: 20px 4rem;
}

.section-title{
    padding-top: 8rem;
}

.cards{
    width: calc(100% - 8rem);
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 4rem auto;
}

.footer-items{
    padding: 2rem 4rem;
}